cython==0.19.2
flake8==2.0
imaging==1.1.7
matplotlib==1.3.1
mccabe==0.2
method_decorator==0.1.3
mpmath==0.17
networkx==1.7
nose==1.3.0
pep8==1.4.5
purehuff==0.2
pyflakes==0.6.1
pyparsing==2.0.1
# pyside==1.1.2
python-dateutil==2.2
scikit-learn==0.14.1
scipy==0.13.1
six==1.4.1
sympy==0.7.2
